<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title>SIGNUP PAGE</title>
</head>
<body>
    <div class="container">
        <div class="signup-container">
            <form class="login">
                <p class="input-text">Sign Up</p>
                <input name="email" type="text" placeholder="Your email">
                <input name="password" type="password" placeholder="Password">
                <button>Sign Up</button>
            </form>
            <p id="signup-text">Already a Member?&nbsp;<a href="login.html">Log In!</a></p>
        </div>    
    </div>
</body>