main {
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.cal-header {
    width: 95%;
    padding: 0 2em;
    display: flex;
}

.cal-header > p {
    font-size: 200%;
    width: 16%;
    font-weight: 700;
}

.cell {
    width: 100%;
    font-size: 150%;
    text-align: start;
}

.header-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

select {
    font-size: 150%;
    color: #F9FBE7;
    background: #8E9568;
    border: 2px solid #000000;
    border-radius: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 1em 1em 1em 0;
    padding: 0.5%;
    width: 10%;
    cursor: pointer;
}

.load-button {
    width: 10%;

    margin: 1em 1em 1em 0;
    padding: 0.5%;

    background: #AED244;
    border: 2px solid #000000;
    border-radius: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    font-size: 150%;
    color: #F9FBE7;

    cursor: pointer;
}

.calendar-grid {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2% 18% 18% 18% 18% 18% 18%;
    grid-gap: 2%;
    padding: 0 2em 2em 2em;
    justify-content: center;
    align-items: center;
}

.day {
    width: 100%;
    height: 100%;
    margin: auto;

    border: 1px solid black;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #F2FEDC;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 80%;

    overflow: auto;
}

.other-month-day {
    visibility: hidden;
}

.event-day {
    background-color: #8E9568;
}

.day-number {
    width: 15%;
    height: 85%;
    font-size: 125%;
    margin: 0 5% 0 0;
}

.events {
    list-style-type: none;
    width: 70%;
    height: 100%;
    padding: 0 5% 0 0;
    margin: 0 10% 0 5%;
    overflow: hidden;
    overflow-y: auto;
}

.events > li {
    width: 100%;
    margin: 0.5em;
    background-color: #F2FEDC;
    border-radius: 10px;
    text-align: center;
}

.events > li > a {
    width: 100%;
    height: 100%;
    margin: 0.5em;
    font-size: 100%;
    color: #8E9568;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0;
}

.mobile-events {
    display: none;
}

@media only screen and (max-device-width: 420px) {

    * {
        font-size: 36px;
    }
    .mobile-events {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 15%;
    }

    .events {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .events > li {
        width: 80%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1em 1em 1em 1em;
    }

    .events > li > a {
        width: fit-content;
    }

    .web-events {
        display: none;
    }

    .cal-header {
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .header-form {
        flex-direction: column;
    }

    .calendar-grid {
        padding: 0;
    }

    select, .load-button {
        font-size: 100%;
        width: 40%;
        margin: 0.25em 0 0.25em 0;
    }

    .cell {
        font-size: 100%;
    }

    .day {
        justify-content: center;
    }

    .day-number {
        margin: 0;
        width: 100%;
        text-align: center;
    }
}
