.stats {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.account {
    width: 50%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 300%;
    margin-left: 1em;
    margin-top: 0.5em;
}

.profile-pic {
    border-radius: 50%;
    border: 2px solid #000000;
    width: 13em;
    height: 13em;
    align-self: center;
    margin-top: 2em;
}

.details {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 250%;
    margin: 1em;
}

.stats-param {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    font-size: 200%;
    color: #F9FBE7;
    background: #8E9568;
    border: 2px solid #000000;
    border-radius: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 1em;
    padding: 1%;
    width: 50%;
}

p {
    font-size: 250%;
    margin-left: 2em;
}

.stats-container {
    align-self: center;
    display: flex;
    font-size: 150%;
    border-bottom: 2px solid #000000;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
    width: 70%;
}

.stats-container > div {
    width: 50%;
    padding-bottom: 1em;
}

